<h1> Welcome to Jordan's web app </h1> <br>
<h2> Today is <%= Time.now %> </h2>
<h2> Links to some pages of this web app </h2>
<a href="/mars">Mars Page</a> <br>
<a href="/pod">NASA Picture of the Day</a> <br>
<a href="/map">Testing out Google Maps API</a><br>
<!-- # <% 5.times do %>
# 	<h1> Today is <%= Time.now %> </h1>
# <% end %> -->
